* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

input,button{

    appearance: none;
    border: none;
    background: none;
    outline: none;
}

.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(aquamarine, rgb(223, 184, 140));
}

form .Posting{

    color: rgb(11, 49, 20);
}

form .Posting input[type = "file"] {

    background-color: none;
    margin-top: 10px;
}

form .Posting h1{

    color: rgb(11, 49, 20);
    font-size: 85px;
    margin-bottom: 65px;
}

form .Posting h4 {
    margin-bottom: 10px;
}

form .Posting .formGroup {

    display: block;
    width: 300px;
    margin-bottom: 15px;

}

form .Posting .formGroup label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.4ms;
}

form .Posting .coverGroup textarea{

    display: block;
    height: 120px;
    width: 130%;
    padding: 10px 15px;
    background-color: rgb(168, 238, 215);
    box-sizing: border-box;
    border-radius: 8px;
    border-color: none;
    transition: 0.4ms;
    resize: none;
    border: none;
    outline: none;
}

form .Posting .coverGroup textarea:focus{

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .Posting .formGroup input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(168, 238, 215);
    border-radius: 8px;
    transition: 0.4ms;
}

form .Posting .formGroup input:focus{

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .Posting input[type = "submit"] {

    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: darkgreen;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 25px;
}
form .Posting input[type = "submit"]:hover {

    background-position: 100% 0%;
}