.empyButtons{
    position: fixed;
    bottom: 4vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  }

  .empyButtons .MuiIconButton-root{
      background-color: white;
      box-shadow: 0px 10px 53px 0px rgba(0,0,0,.3) !important;
    
  }
  .empyButtons__checkIcon {
    color: green !important;
  }

  .empyButtons__clearIcon{
    color: red !important;
  }
 